#ignore everything here, except subdirectories.
/*
!/*/

#FLIPPER EDIT - music shit
/title_music/sounds/*
!/title_music/sounds/exclude

/jukebox_music/sounds/*
!/jukebox_music/sounds/exclude
/jukebox_music/secret_sounds/*
!/jukebox_music/secret_sounds/exclude
